{:name "ui-tailwind"
 ;build
 :lazy false
 ; theme
 :theme {:available  {:tailwind {"light" ["tailwindcss/dist/tailwind.min.css"]
                                 "dark"  ["tailwindcss/dist/tailwind-dark.min.css"]
                                 }}
         :current {:tailwind "light"}}

 }
